#icon div:hover {
  background-color: rgb(58, 58, 58) !important;
}

.menuList:hover {
  color: #e54c2a !important;
}

a {
  text-decoration: none;
}

.menuItem:hover {
  color: #e54c2a !important;
  background-color: rgb(253, 253, 253) !important;
}
